<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon ios="ios-arrow-back" md="md-arrow-back" (click)="returnLogin()" style="height: 30px; width: 30px"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="background-image">
  <ion-card style="background-color: rgba(154,165,140,0.36)">
    <ion-card-header>
      <ion-card-title style="display: flex; justify-content: center; background-color: rgba(34,34,41,0.62)">
        <h2 style="color: white"><b>Registro de Usuario</b></h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Carne -->
      <ion-item>
        <ion-input [(ngModel)]="carnet1" type="number" name="CarnetTxt" placeholder="carné"></ion-input>
      </ion-item>

      <!-- Nombres -->
      <ion-item>
        <ion-input [(ngModel)]="nombre1" type="text" name="NombreTxt" placeholder="Nombre"></ion-input>
      </ion-item>

      <!-- Apellidos -->
      <ion-item>
        <ion-input [(ngModel)]="apellido1" type="text" name="ApellidoTxt" placeholder="Apellido"></ion-input>
      </ion-item>

      <!-- DPI -->
      <ion-item>
        <ion-input [(ngModel)]="dpi1" type="text" name="DpiTxt" placeholder="DPI"></ion-input>
      </ion-item>

      <!-- Correo -->
      <ion-item>
        <ion-input [(ngModel)]="correo1" type="text" name="CorreoTxt" placeholder="Correo"></ion-input>
      </ion-item>

      <!-- Contrasena -->
      <ion-item>
        <ion-input [(ngModel)]="contrasena1" type="password" name="ContrasenaTxt" placeholder="Contraseña"></ion-input>
      </ion-item>

      <!-- ContrasenaR -->
      <ion-item>
        <ion-input [(ngModel)]="fecha_nac1" type="text" name="ContrasenaTxtR" placeholder="Repetir la contraseña"></ion-input>
      </ion-item>

      <!-- FechaNacimiento -->
      <ion-item>
        <ion-input [(ngModel)]="habilitado1" type="Date" name="FechaNacimientoTxt" placeholder="Fecha de Nacimiento"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="Regisrar()">
        Registrar
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

