<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-title>
                BANCA USAC
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="user_card">
            <div style="display: flex; justify-content: center">
                <div class="brand_logo_container">
                    <img src="assets/escudo10.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="form_container">
                <div style="margin-bottom: 15px">
                    <div style="display: flex">
                        <div class="input-group-prepend">
                            <ion-icon class="input-group-text" ios="ios-person" md="md-person" style="width: 100%; height: 100%"></ion-icon>
                        </div>
                        <ion-input [(ngModel)]="carne" type="number" placeholder="Carné" style="background-color: white;"></ion-input>
                    </div>
                </div>
                <div style="margin-bottom: 15px">
                    <div style="display: flex">
                        <div class="input-group-prepend">
                            <ion-icon class="input-group-text" ios="ios-key" md="md-key"></ion-icon>
                        </div>
                        <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña" style="background-color: white;"></ion-input>
                    </div>
                </div>

                <ion-button expand="block" color="light" size="large" (click)="validateLogin()">Ingresar</ion-button>
                <div style="display: flex; margin-top: 15px" justify-content-center>
                    <a style="color: white"><u>Registrarse</u></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-app>
