<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="background-color: rgba(5,79,158,0.44)">
      <ion-card-title>
        <h3><b>Cuenta No. 15615300230</b></h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="cash"></ion-icon>
        <ion-label>Q. 0.00</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button expand="block"><ion-icon ios="ios-paper" md="md-paper"></ion-icon>Pagar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block"><ion-icon ios="ios-paper" md="md-list-box"></ion-icon>Historial</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
