<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background-image">
  <ion-card style="background-color: rgba(154,165,140,0.36)">
    <ion-card-header>
      <ion-card-title style="display: flex; justify-content: center; background-color: rgba(69,121,193,0.62)">
        <h2 style="color: white"><b>Mi Usuario</b></h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Carne -->
      <ion-item>
        <ion-input [(ngModel)]="carnet1" disabled="true" type="number" name="CarnetTxt" placeholder="carné"></ion-input>
      </ion-item>

      <!-- Nombres -->
      <ion-item>
        <ion-input [(ngModel)]="nombre1" disabled="{{bloqueado}}" type="text" name="NombreTxt" placeholder="Nombre"></ion-input>
      </ion-item>

      <!-- Apellidos -->
      <ion-item>
        <ion-input [(ngModel)]="apellido1" disabled="{{bloqueado}}" type="text" name="ApellidoTxt" placeholder="Apellido"></ion-input>
      </ion-item>

      <!-- DPI -->
      <ion-item>
        <ion-input [(ngModel)]="dpi1" disabled="{{bloqueado}}" type="text" name="DpiTxt" placeholder="DPI"></ion-input>
      </ion-item>

      <!-- Correo -->
      <ion-item>
        <ion-input [(ngModel)]="correo1" disabled="{{bloqueado}}" type="text" name="CorreoTxt" placeholder="Correo"></ion-input>
      </ion-item>

      <!-- Contrasena -->
      <ion-item>
        <ion-input [(ngModel)]="contrasena1" disabled="{{bloqueado}}" type="text" name="ContrasenaTxt" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="Modificar()">
            <ion-icon name="refresh-circle"></ion-icon>
              Modificar Datos
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="eliminar()" color="danger">
            <ion-icon name="close"></ion-icon>
            Eliminar Usuario
          </ion-button>
        </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>

</ion-content>


