<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background-image">
  <ion-card style="background-color: rgba(154,165,140,0.36)">
    <ion-card-header>
      <ion-card-title style="display: flex; justify-content: center; background-color: rgba(69,121,193,0.62)">
        <h2 style="color: white"><b>Pagos Disponibles</b></h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-list>

          <ion-item *ngFor="let item of items">
            <ion-icon slot="start" [name]="item.icon" [ngStyle]="{'color': item.color}"></ion-icon>
            <ion-label>
              <h3>{{item.title}}</h3>
            </ion-label>
          </ion-item>

      </ion-list>


    </ion-card-content>
  </ion-card>

</ion-content>
